.FlightsPage {
  padding: 24px;
  background-color: #f9f9f9;
  min-height: 100vh;
}

.loadingContainer,
.errorContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
